body {
  margin: 0;
  /* overflow: hidden; */
  overflow-x: scroll;
  background-color: transparent;

  overflow-y: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
main {
  display: flex;
  flex-direction: row;
  width: 300vw;
  overflow-x: scroll;
  align-items: center;
  justify-content: center;
}
section {
  width: 100vw;
  height: 100vh;
}
